.realInputCon{
    width: 90%;
position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: flex-start;

}

.box{
    font-size: 1.2rem;
    color: #686f76;
}

.fieldCancel{
    position: absolute;
    left: 95%;
    top : 20%;
    font-size: 1.3rem;
}


.textareaBox{
    width: 80%;
  
    font-size: 1.2rem;
    /* height: 70px; */
    padding: 0.2rem;
    border: none;
    outline: none;
  
}

