.header{
width: 100%;
height: 9vh;
display: flex;
align-items: center;
justify-content: space-between;
background-color:#F8FAFD;
/* position: sticky;
    top: 0; */
}

.left_header{
    width: 17.5%;
    height: 100%;
    padding-left: 1rem;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.left_header img{
    width: 60px;
    height: 60px;

}

.left_header h1{
    font-weight: 200;
    font-size: 1.6rem;
    color: #444746;
}

.profile_picture{
    min-width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover,
     /* background-image: url("https://lh3.googleusercontent.com/a/ACg8ocLU93oxLLI6yAHfkWD5zt5CPwBLUx22mUZg5yyQwzvkc3-a0A=s96-c"); */
}

.profile_picture img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}



.middle_header{
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.inputBox{
    width: 75%;
    height: 75%;
    border-radius: 30px;
    /* background-color: grey; */
    background-color: #E9EEF6;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}




.inputBox input{
    width: 78%;
    height: 80%;
    /* padding: 1rem; */
    font-size: 1.1rem;
    border: none;
    background: transparent;
    outline: none;
}

.inputBox input::placeholder{
    color: #262626;
}



.searchBtn,
.clearBtn,
.sortBtn {
 min-width: 39px;
 height: 39px;
 border-radius: 50%;
 padding: 0.5rem;
 color: #484B4A;
 /* background-color: red; */
}

.rightIcons{
    min-width: 42px;
    height: 42px;
    border-radius: 50%;
    padding: 0.7rem;
    color: #484B4A;
}
.rightIcons:hover{
 background-color: rgb(221, 221, 221);
 cursor: pointer;

}

.searchBtn:hover,
.clearBtn:hover,
.sortBtn:hover {

 background-color: rgb(221, 221, 221);
}

.right_header{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    width: 20%;
    height: 100%;
    padding-right: 1.5rem;
    /* background-color: yellow; */
}
